{% extends "layout.html" %}

{% block content %}

<h1 style=" color:white">{{ message }}</h1>

<style>
    body {
        background-image: url('https://images8.alphacoders.com/358/thumb-1920-358629.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<h4 style=" color: white">My pictures album is about video games that I love to play with my friends every day after school. The album show several games, including Brawlhalla, Borderlands 2, Middle-earth: Shadow of Mordor and more...</h4>
<h4 style=" color: white">The album explains each game individually, and all of this games you can find in the website Steam (link in the Home page) exepct Super Smash Bros that requires the console Nintendo Switch as written in the description. Most of this games cost money but they are very worth buying. </h4>

<h1 style=" color: white">Information about me</h1>
<h4 style=" color: white">My name is Nadav Fryd I am 15 years old and I play a lot of video games and I like them very much. I hope that my photo album and information will help you know new games.</h4>
<h4 style=" color: white">If you need any help or more information about the games or where to find them you can send me a message at this E-mail: nadav.fryd@gmail.com</h4>

{% endblock %}
