{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1 style="color:black">pictures album</h1>
    <p class="lead">A photographic album is a series of pictures arranged in somesort of table</p>
    <p><a href="https://en.wikipedia.org/wiki/Photo_album" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
</div>

<style>
    body {
        background-image: url('https://www.itl.cat/pics/b/6/64247_gaming-collage-wallpaper.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

{% endblock %}
