{% extends "layout.html" %}

{% block content %}

<style>
    h1 {font-weight : bold;}
    h4 {font-weight: bold;}
</style>

<h1 style="color: white">My Pictures Album</h1>
<h4 style="color: white">My pictures album is about video games that I love to play with my friends every day after school. The album show several games, including Brawlhalla, Borderlands 2, Middle-earth: Shadow of Mordor and more...</h4>
<h4 style="color: white">Video games are very popular today. There are a lot of consoles that can run diffrent games and you can play games in the internet and from several websites that can offer a wide variety of games.</h4>
<h4 style="color: white"><mark>One of the most popular websites that can offer such a wide variety, is Steam. Steam is a world wide website, you can buy and download a lot of games and play with your friends or with other people. I use Steam everyday and I already bought a lot of games, even my father use Steam and play with me. If you want to check out Steam there is a link below.</mark></h4>
<p><a href="https://store.steampowered.com/" class="btn btn-primary btn-large">Steam &raquo;</a></p>

<div class="row">
    <div class="col-md-4">
    </div>
</div>

<style>
    body {
        background-image: url('https://images7.alphacoders.com/594/thumb-1920-594320.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

{% endblock %}
